@page
@model Food2URazor.Pages_Shoppers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shopper</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shopper.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shopper.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shopper.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shopper.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shopper.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shopper.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shopper.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shopper.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shopper.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shopper.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shopper.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shopper.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Shopper?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
